{
  "root": true,
  "extends": [
    "plugin:vue-libs/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["flowtype"],
  "parser": "babel-eslint",
  "globals": {
    "__WEEX__": true,
    "WXEnvironment": true
  }
}
